{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="/static/img/Muni.icon.png">  
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/receiving.css')}}">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/206b5ce088.js" crossorigin="anonymous"></script>
    <title>Receiving</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
    <div class="container">
        <section class="form-register">
            <form id="contact-form" name="contact-form" class="packing-form" method="post" action="/RegistrarReceiving"  >
                <h2 class="titulo2"> Receiving</h2>
                <label  for="ReceivingType" > Receiving Type</label>
                    <select name="ReceivingType" id="ReceivingType" required>
                        <option value="Recepción">Recepción</option>
                        <option value="Faltantes">Compra Faltantes</option>
                        <option value="Devolución">Devolución</option>
                        <option value="Inventory">Inventario</option>
                    </select>
                    <label for="OrderNumber"> Orden de Compra  :
                        <input name="OrderNumber" type="text"  autofocus >
                    </label>
                    <input  type="submit" id="continuar"  value="Continue" >
            </form>
        </section>
        </div>
{% endblock %}