{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="/static/img/Muni.icon.png">  
    <link rel="stylesheet" href="{{url_for('static', filename='css/formsprodct.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/206b5ce088.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <title>Packing</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
    <div class="container-formscan">
        <section class="form-register">
            {% if receivingType %}
            <form id="contact-form" name="contact-form" class="contact-form" method="post" action="/RegistrarProductorec/{{ean}}/{{cantidad}}/{{ReceivingType}}/{{OrderNumber}}">
                <h2 class="titulo2"> Registra un nuevo Producto</h2>
                    <h4 class="info1"> CB_Captura: {{ean}} </h4>
                    <h4 class="info1"> Cantidad: {{cantidad}} </h4>
            {% elif cantidad %}
            <form id="contact-form" name="contact-form" class="contact-form" method="post" action="/RegistrarProductoinv/{{ean}}/{{cantidad}}">
                <h2 class="titulo2"> Registra un nuevo Producto</h2>
                    <h4 class="info1"> CB_Captura: {{ean}} </h4>
                    <h4 class="info1"> Cantidad: {{cantidad}} </h4>
            {% else %}
            <form id="contact-form" name="contact-form" class="contact-form" method="post" action="/RegistrarProducto/{{ean}}">
                <h2 class="titulo2"> Registra un nuevo Producto</h2>
                    <h4 class="info1"> CB_Captura: {{ean}} </h4>
            {%endif%}        
                    <label for="EAN_MUNI"> EAN_MUNI:
                        <input name="EAN_MUNI" type="text"   required>
                    </label>
                    <label for="Producto"> 	Producto:
                        <input name="Producto" type="text"  required>
                    </label>
                    <label for="Factor_de_Conversión"> Factor de Conversión:
                        <input name="Factor_de_Conversión" type="number"  value="1"  required>
                    </label>
                    <input class="BTN" type="submit" value="ENVIAR">
                
            </form>

            <a href="/CerrarReceiving/{{ReceivingType}}/{{OrderNumber}}" class="cerrar_btn">Cerrar</a>

        </section>
        <section class="table">
            <table>
                <thead>
                    <tr>
                        <td>CB Captura</td>
                        <td>EAN MUNI</td>
                        <td>Producto</td>
                        <td>Factor de Conversion</td>
                    </tr>
                </thead>
                <tbody>
                  {% for row in data %}
                  <tr>
                      <td>{{row[1]}}</td>
                      <td>{{row[2]}}</td>
                      <td>{{row[3]}}</td>
                      <td>{{row[4]}}</td>
                  </tr>
                  {%endfor%}
                </tbody>
            </table>
        </section>
    </div>
{% endblock %}