*{
    margin: 0;
    padding: 0;
}

body{
    background: #eee;
}
.container{
    width: 100%;

}

.form_file{
    width: 80%;
    max-width:350px;
    height: 250px;
    margin: 60px auto auto auto ;
    background: #fff;
    box-shadow: 0 0 10px #aaa;
    padding: 2px;
    border-radius: 5px;
    display:flex ;
    text-align: center;
    flex-direction: column;
    columns: 1;
}
.form_file h2{
    background: #01d4c7;
    color: #fff;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 5px;
}
.form_file label{
  width:100%;
  margin: 10px auto 5px auto;
  text-align:center;
}
.form_file select,
.form_file input{
    margin: 5px auto;
}

.form_file input:focus{
    outline-color: blue;
}
.table{
    width: 50%;
    height: 100vh;
    text-align: center;

}

table{
    width: 95%;
    min-height: 80vh;
    margin: 30px auto auto  auto;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 10px #aaa;
    border-radius:5px;
    border-collapse: collapse;

}

.titulo2{
    width: 100%;
    margin-top: 0;

    background: #01d4c7;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 17px;
    padding: 3px 0 3px 0;
    border-radius: 5px;
}
#continuar{
    width: 70%;
    display: flex;
    margin:10px auto 3px auto;    
    justify-content: center;
    font-weight: bolder;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none ;
    background: #fff;
    color: #01d4c7;
    border: 2px solid #01d4c7;
    border-radius: 5px;
}
#continuar:hover{
    background: #01d4c7;
    color: #fff;
    border: 2px solid #01d4c7;

}