*{
    margin:0;
    padding: 0;
}
body{
    background: #eee;
}
body::-webkit-scrollbar {
    display: none;
}
.container-formscan{
    display: flex;
    width: 100%;

}
.container-formscan .form-register{
    width: 30%;
    height: 100vh;
    text-align: center;
    align-items: center;
    align-content: center;
}
.container-formscan .form-register form{
    width: 80%;
    height: calc(100%+20px);
    margin: 60px auto auto auto ;
    background: #fff;
    box-shadow: 0 0 10px #aaa;
    padding: 5px;
    border-radius: 5px;
}
.container-formscan .form-register label,
.container-formscan .form-register input{
    display: block;
    margin: 15px auto;
}
.container-formscan .form-register input:focus{
    outline-color: blue;
}
.table{
    width: 70%;
    height: 100vh;
    text-align: center;
    font-size: 10px;
}
table{
    width: 97%;
    margin: 10px auto auto  auto;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0 0 10px #aaa;
    border-radius:5px;
    border-collapse: collapse;
}
table tr{

    padding: 10px 0;
    border-bottom:1px solid#ddd;
}

.titulo{
    background: #01d4c7;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    padding: 7px 0 7px 0;
}
thead,
.titulo2{
    background: #01d4c7;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 12px;
    padding: 3px 0 3px 0;
    border-radius: 5px;
}
.info1{
    color: #555;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 3px 0 3px 0;
    border-radius: 5px;

}
.cerrar_btn{
    display: flex;
    width: 150px ;
    margin-top: 10px ;
    margin: 50px auto auto auto ;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none ;
    justify-content: center;
    background: #01d4c7;
    color: #fff;
    border: 2px solid #01d4c7;
    border-radius: 5px;
}
.cerrar_btn:hover{
    background: #fff;
    color: #01d4c7;
}

.BTN{
    display: flex;
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none ;
    background: #fff;
    color: #01d4c7;
    border: 2px solid #01d4c7;
    border-radius: 5px;
}
.BTN:hover{
    background: #01d4c7;
    color: #fff;
    border: 2px solid #01d4c7;

}

.butonselect{
    margin: auto;
    padding: 2px;
    background: #04f892;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    border: 1px solid #555;
}