*{
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
}
.fondo{
    margin: 0 ;
    width: 100%;
    height: 35vh;
    background: rgb(231, 248, 247);
}
.user{
    padding: 20px 0 0 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.user i{
    background: #fff;
    color: #01d4c7;
    margin: auto;
    font-size: 80px;
    border-radius: 50%;
}
.user h1{
    color: #fff;
    margin: auto;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: -1px 0 0 #00b1a8, 1px 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #00b1a8,-1px -1px 0 #00b1a8, 0 -1px 0 #000;  


}
.user h3{
    color: #fff;
    margin: auto;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: -1px 0 0 #00b1a8, 1px 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #00b1a8,-1px -1px 0 #00b1a8, 0 -1px 0 #000;  

} 
.container_form{
    width: 80%;
    margin:30px auto auto auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
 .mudulos{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    padding: px 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:20px  auto;
    color: #00b1a8;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}
.mudulos a{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-decoration: none;
    color: #00b1a8;
}
.mudulos i{
    margin: auto;
    font-size: 40px;
    padding: 5px 0;
    color: #04d1c7;
    text-shadow: -1px 0 0 #fff, 1px 1px 0 #000, 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #fff,-1px -1px 0 #fff, 0 -1px 0 #000;  
}
.mudulos a:hover,
.mudulos i:hover{
    color: #fff;   
    text-shadow: -1px 0 0 #00b1a8, 1px 1px 0 #00b1a8, 0 1px 0 #00b1a8, 1px 0 0 #00b1a8, 0 -1px 0 #00b1a8,-1px -1px 0 #00b1a8, 0 -1px 0 #00b1a8;  

}