{% extends 'nav.html'%}
{% block cabezera%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="/static/img/Muni.icon.png"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/206b5ce088.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}
    <script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    {% endblock %}
    {% block body%}
        <div class="fondo">
            <div class="user">
                {% if Datos['User']== 'cmunoz'%}
                <i class="fa-solid fa-user-astronaut"></i>
                {%else%}
                <i class="fa-solid fa-circle-user"></i>
                {%endif%}
                <h1>¡Hola! </h1><h3>{{Datos['FullName']}}</h3>
                </div>
    </div>
        <div class="container_form">
            <!-- <div class="mudulos">
                <a href='/Packing' class='Proces_link'>
                    <i class="fa-solid fa-boxes-packing"></i>
                 Packing</a>
            </div> -->
            <!-- <div class="mudulos">
                <a href='/Picking' class='Proces_link'>
                <i class="fa-solid fa-dolly"></i>
                 Picking</a>
            </div> -->
            <div class="mudulos">
                <a href='/Damage' class='Proces_link'>
                <i class="fa-solid fa-land-mine-on"></i>
                 Mermas</a>
            </div>
            <div class="mudulos">
                <a href='/Product' class='Proces_link'>
                    <i class="fa-solid fa-pen-to-square"></i>
                 Registro de Productos</a>
            </div>
            <div class="mudulos">
                <a href='/Inventory' class='Proces_link'>
                    <i class="fa-solid fa-boxes-stacked"></i>
                 Inventario</a>
            </div>
            <div class="mudulos">
                <a href='/Receiving' class='Proces_link'>
                <i class="fa-solid fa-truck-ramp-box"></i>
                 Recepción</a>
            </div>
            <div class="mudulos">
                <a href='/RegistrarReceivingP/Faltantes' class='Proces_link'>
                    <i class="fa-solid fa-clock"></i>
                Faltantes</a>
            </div>
            <div class="mudulos">
                <a href='/Devolución/ReceivingType' class='Proces_link'>
                    <i class="fa-solid fa-road-circle-exclamation"></i>
                    Devolución</a>
            </div>
        </div>
{% endblock %}