<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//db.onlinewebfonts.com/c/69f1400361a215519d385199118a34aa?family=Harabara" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image" href="/static/img/Muni.icon.png">   
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="https://kit.fontawesome.com/206b5ce088.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap" rel="stylesheet">
    <title>Inicio</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages%}
    {%for message in messages%}<script>
        alert('{{message}}')
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}
    <section class="titulo"><img src="/static/img/Muni.png"  alt="Logo"><h1>P&P System</h1></section>
    <div class="container"> 
        <form action="/inicio" method="POST">
            <p>¡Hola! Para seguir, ingresa tu  usuario</p>
            <label for="user"> Ingresa tu Usuario <i class="fas fa-user-tie"></i> </label>
            <input autofocus type="text" name="user" id="user"  class="user_inicio" required>
            <input type="submit"  class="btn" value="Continuar">
        </form>
    </div> 
</body>
</html>

